@import "fonts.less";
@import "variables.less";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "blocks/body.less";

img {
    display: block;
    max-width: 100%;
    height: auto;
}
@import "blocks/invisible.less";
@import "blocks/fade-in.less";
@import "blocks/header.less";
@import "blocks/main-header.less";
@import "blocks/main-header-continius.less";
@import "blocks/main-header-description.less";
@import "blocks/content.less";
@import "blocks/social-links.less";
@import "blocks/wrap-img-bg.less";
@import "blocks/footer.less";
@import "blocks/close.less";
@import "blocks/animate-img.less";
@import "blocks/media.less";
